<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="studentDao" class="ru.otus.spring01.dao.StudentDaoImpl"></bean>
    <bean id="quizDao" class="ru.otus.spring01.dao.QuizDaoImpl"></bean>

    <bean id="csvService" class="ru.otus.spring01.service.CsvServiceImpl"></bean>
    <bean id="quizService" class="ru.otus.spring01.service.QuizServiceImpl">
        <property name="dao" ref="quizDao"></property>
    </bean>
    <bean id="studentService" class="ru.otus.spring01.service.StudentServiceImpl">
        <property name="dao" ref="studentDao"></property>
    </bean>
</beans>
